* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: #333333;
  align-items: center;
  justify-content: center;
}

header {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333;
  position: absolute;
  left: 77px;
  top: 40px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1440px;
  height: 1080px;
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.scarecrow {
  background-image: url("Scarecrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 77px;
  right: 57.21%;
  top: 265px;
  bottom: 34.03%;
  width: 539.22px;
  height: 447.43px;
}

.right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.badnews {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 735px;
  top: 265px;
  font-weight: 700;
  font-size: 64px;
  line-height: 94.78px;
  letter-spacing: -3.5%;
}

.unavailable {
  position: absolute;
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;
}

button {
  font-size: 14px;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: white;
  background-color: #333;
  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
}

footer {
  position: absolute;
  width: 287px;
  height: 17px;
  left: 577px;
  top: 1039px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #BDBDBD;
}