* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  
}

header {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333;
  position: absolute;
  left: 77px;
  top: 40px;
}

main {
  display: flex;
  flex-direction: row;
}

.scarecrow {
  background-image: url("Scarecrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 77px;
  right: 57.21%;
  top: 265px;
  bottom: 34.03%;
  width: 539.22px;
  height: 447.43px;
  border: 1px solid;
}

.right {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.badnews {
  font-weight: 700;
  font-size: 64px;
  line-height: 94.78px;
  letter: spacing -3.5%;
}

button {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: white;
  background-color: #333;
}